<!DOCTYPE html>
<html data-ng-app="hypotheekApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/hypotheek.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="HypotheekController.js"></script>
</head>
<body data-ng-controller="HypotheekController as ctrl" style="margin: 10px;">
<h2 class="text-center">Overzicht van bruto en netto maandbedrag voor een hypotheek</h2>
<div class="container-fluid">
    <form data-ng-submit="ctrl.redraw()">
    <div>
        <div class="row row-centered">
            <div class="col-md-3">
                <p>
                    <button type=submit class="btn btn-primary btn-lg">Ververs</button>
                    <button class="btn btn-success btn-lg" data-ng-click="ctrl.toevoegen()">Leningdeel toevoegen</button>
                </p>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="wozWaarde">WOZ waarde</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-euro" aria-hidden="true"></span>
                        <input id="wozWaarde" type="number" data-ng-model="ctrl.model.wozWaarde" class="form-control" step="100"/>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="belastingSchijf">Hypotheekrente aftrek percentage</label>
                    <select id="belastingSchijf" class="form-control" data-ng-model="ctrl.model.belastingSchijf">
                        <option value="36.25">36,25%</option>
                        <option value="42">42%</option>
                        <option value="51">51%</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="startDate">Start van de hypotheek</label>
                    <input id="startDate" type="date" data-ng-model="ctrl.model.startDate" class="form-control input-size" size="40"/>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="row row-centered">
                <h4 class="text-center total-sum">Totale hypotheeksom: &euro;{{ctrl.model.hypotheken|sumByKey:'hypotheekSom'}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" data-ng-repeat="hypotheek in ctrl.model.hypotheken">
                <div class="leningdeel">
                    <div class="form-group">
                        <label for="aflosvorm-{{$index}}">Soort hypotheek / Aflosvorm</label>
                        <select id="aflosvorm-{{$index}}" class="form-control" data-ng-model="hypotheek.aflosvorm">
                            <option>Annuiteit</option>
                            <option>Lineair</option>
                            <option>Aflossingsvrij</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hypotheekSom-{{$index}}">Hypotheeksom</label>
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-euro" aria-hidden="true"></span>
                            <input id="hypotheekSom-{{$index}}" type="number" data-ng-model="hypotheek.hypotheekSom" class="form-control input-size" step="100"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rente-{{$index}}">Rente</label>
                        <div class="input-group">
                            <input id="rente-{{$index}}" type="number" data-ng-model="hypotheek.rente" class="form-control input-size" step="0.1"/>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="looptijdMaanden-{{$index}}">Looptijd in maanden</label>
                        <input id="looptijdMaanden-{{$index}}" type="number" data-ng-model="hypotheek.looptijdMaanden" min="1" max="360" class="form-control input-size"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-xs" data-ng-click="ctrl.verwijderen($index)">Leningdeel verwijderen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col-lg-9">
            <canvas id="chart" class="lasten-chart"></canvas>
        </div>
        <div class="col-lg-3">
            <table class="table table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Jaar</th>
                        <th>Bruto</th>
                        <th>Netto</th>
                        <th>Restant hypotheek</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in ctrl.data">
                        <td>{{row.year}}</td>
                        <td>&euro; {{row.bruto}}</td>
                        <td>&euro; {{row.netto}}</td>
                        <td>&euro; {{row.restantHoofdSom}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
