<!DOCTYPE html>
<html data-ng-app="hypotheekApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script src="angular.js"></script>
    <script src="HypotheekController.js"></script>
</head>
<body data-ng-controller="HypotheekController as ctrl">
    <span>Hypotheek terugbetaal maandbedrag</span><br/>
    <div>
        <button data-ng-click="ctrl.redraw()">Ververs</button>
        <label>Hypotheeksom <input type="number" data-ng-model="ctrl.model.hypotheeksom" /></label>
        <label>WOZ waarde <input type="number" data-ng-model="ctrl.model.wozwaarde" /></label>
        <label>rente <input type="text" data-ng-model="ctrl.model.rente" /></label>
        <label>looptijd in maanden <input type="number" data-ng-model="ctrl.model.looptijdMaanden" min="1" max="360"/></label>
        <label>belastingschijf <input type="text" data-ng-model="ctrl.model.belastingSchijf" /></label>
        <label>start van de Hypotheek <input type="date" data-ng-model="ctrl.model.startDate" /></label>
    </div>
    <canvas id="chart" width="80%" height="600px"></canvas>
</body>
</html>